@charset "UTF-8";

body {
    margin: 0 auto;
    background-color: black;
    font-family: "Century Gothic", sans-serif;
}

header {
    display: flex;
    max-width: auto;
    max-height: auto;
    text-align: center;
    align-items: center;
    background-color: black;
    justify-content: space-between;
    border-bottom: 2px solid #df9916;
}

header img {
    margin-left: 50px;
    height: 50px;
    width: auto;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: space-between;
}

.menu a {
    font-size: 12px;
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

.menu a:hover {
    background-color: #888686;
}

.paginaIndex {
    display: flex;
    max-width: auto;
    margin: 15px 15px;
    justify-content: space-between;
    height: auto;
}

.paginaIndex img {
    width: 600px;
    height: auto;
}

section h1 {
    text-align: center;
}

.conteudo {
    max-width: 50%;
    height: auto;
    align-items: center;
    color: white;
}

nav {
    display: flex;
    max-width: 100%;
    height: 125px;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

nav button {
    width: 300px;
    height: 40px;
    background-color: #df9916;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
}

button:hover {
    background-color: #888686;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #f5a40e;
    height: 30px;
    align-items: center;
}

/*PáginaSobre*/

.paginaSobre {
    display: flex;
    flex-direction: column;
    background-color: black;
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    color: white;

}

.paginaSobre img {
    height: 300px;
    width: auto;
}

.paginaSobre h1 {
    font-size: 15px;
}

.conteudoSobre {
    margin: 0 10px;
    font-size: 12px;
    text-align: justify;
    color: white;
}



.tabelaTitulos {
    margin-bottom: 10px;
    text-align: center;
    color: white;
    font-size: 10px;
}

.titulos {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    padding: 5px;
    border: transparent;
}

tr,
td,
th {
    border: 1px solid #f5a40e;
    padding: 5px;
}

/* Página Cadastro*/

.paginaCadastro {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    color: white;
    max-width: 100%;
    height: 540px;
}

.cadastro {
    width: 300px;
    margin: 0 auto;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    border-color: #f5a40e;
    border-radius: 15px;
}

.paginaCadastro input {
    margin: 10px auto;
    width: 100%;
    padding: 5px 0;
    border-radius: 5px;
}

.paginaCadastro button {
    width: 30%;
    height: 32px;
    margin: 0 10%;
    background-color: #f5a40e;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
}

.radio{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    font-size: 13px;
    margin-bottom: 10px;
    
}

.check input[type="checkbox"] {
    width: 13px;
    height: 13px;
}
