@charset "UTF-8";

body {
    margin: 0 auto;
    font-family: "Century Gothic", sans-serif;
}

header {
    display: flex;
    height: 70px;
    width: 100%;
    line-height: 70px;
    background-color: black;
    text-align: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    border-bottom: 2px solid #df9916;
}

header img {
    margin-left: 50px;
    height: 70px;
    width: 150px;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row-reverse;
}

.menu a {
    margin-left: 15px;
    margin-right: 50px;
    flex-direction: row;
    color: #fff;
    text-decoration: none;
    text-align: center;

}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    height: 600px;
    background-color: black;
}

nav .paginaIndex {
    width: 50%;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.conteudo h1 {
    text-align: center;
}

.conteudo p {
    text-align: justify;
    margin: 20px;
}

section {
    display: flex;
    width: 100%;
    height: 250px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: black;

}

section button {
    width: 400px;
    height: 60px;
    background-color: #df9916;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bolder;
}

button:hover {
    background-color: #888686;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #f5a40e;
    height: 40px;
    align-items: center;
}

/*PáginaSobre*/

.paginaSobre {
    display: flex;
    flex-direction: column;
    margin: 5px 5px;
    height: 100%;
    justify-content: center;
}

nav .container {
    background-color: #888686;
    height: 100%;
    width: 50%;
    color: #fff;
}

nav .imagem img {
    height: 500px;
}

nav h1{
    text-align: center;
}